@import 'variables';

:host {
  display: block;
  padding: 50px;

  .title {
    color: $text;
    margin: 0 0 20px 0;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}
